*, *::before, *::after, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Source Sns Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}